html {
    font-family: 'Roboto', sans-serif !important;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 2px;
    padding: 0;
    font-size: small;
    background-color: white !important;
}

.color-gray {
    color: #9e9e9e;
}

.color-red {
    color: #f44336;
}

.color-green {
    color: #4caf50;
}

.btn-primary {
    background-color: #9b190e !important;
}

.btn-danger {
    background-color: rgb(255, 64, 129) !important;
}

.alert-danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

input {
    font-size: 18px !important;
    margin-bottom: 0 !important;
}

input::placeholder {
    font-size: 18px !important;
}

.control-label {
    font-size: 18px !important;
}

.form-control {
    font-size: 18px !important;
}

.help-block {
    font-size: 18px !important;
}

.divider {
    margin: 0;
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

.collapsible-header {
    font-weight: bold;
    font-family: 'Roboto', 'PT\ Sans', sans-serif;
    line-height: 3rem;
    font-size: 1rem;
}

.collapsible-body {
    margin-left: 3.5rem;
}

.collapsible-icon {
    color: #9b190e;
    font-size: 1.6rem !important;
    margin-right: 2.4rem !important;
    vertical-align: middle !important;
    line-height: 3rem !important;
}

.collapsible-scroll {
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

.show-more-button {
    cursor: pointer;
    margin: 5px 0 0 0;
    color: white;
    background-color: pink;
    padding: 5px 10px;
    text-align: center;
}

.dropdown button {
    background-color: transparent !important;
    border: none;
    border-radius: 0;
    height: 3rem;
    width: 100%;
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #9e9e9e;
    outline: none;
    text-align: left;
    text-transform: none;
}

.dropdown-toggle:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

button.dropdown-toggle {
    border-bottom: 1px solid #9e9e9e;
}

.dropdown button:hover,
.dropdown button:focus {
    background-color: transparent !important;
    box-shadow: none;
    color: #9e9e9e;
    outline: none !important;
}

.dropdown .dropdown-menu {
    width: 100%;
}

button.dropdown-item {
    padding-left: 10px;
    height: 2rem;
    margin: 0 0 10px 0;
}

.dropdown label {
    font-size: 18px !important;
}

/*My Profile styles*/
.profile .student-info {
    text-transform: capitalize;
}

.profile img {
    border-radius: 45px;
}
/*News*/
.slick-slider, .slide {
    height: 470px;
}

.slick-list, .slick-track, .slide {
    height: 100%;
    width: 100%;
}

.welcome .slick-dots {
    position: absolute;
    bottom: 0;
}

.welcome .slick-prev,
.welcome .slick-next {
    position: absolute;
    top: 50%;
    width: 170px;
    height: 170px;
    background-color: transparent;
    border: none;
    font-size: 0px !important;
    box-sizing: border-box;
    outline: none;
    z-index: 500;
    background-repeat: no-repeat;
}

.welcome .slick-prev:before,
.welcome .slick-next:before {
    content: none;
    color: white;
}

.welcome .slick-prev, .welcome .slick-prev:before {
    left: 0;
    background-image: url("../images/left.svg") !important;
    color: white !important;
}

.welcome .slick-next, .welcome .slick-next:before {
    right: 0;
    background-image: url("../images/right.svg") !important;
    color: white !important;
}

.welcome .slick-dots {
    bottom: 5px;
}

.welcome .slick-dots li button:before {
    font-size: 10px;
    opacity: 1;
    color: #fff;
}

.slick-dots li button:before {
    font-size: 10px;
}

.welcome .slick-dots li.slick-active button:before {
    color: #9b190e !important;
}


.slide img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.info {
    height: 50% !important;
    position: absolute;
    top: 0;
    color: #fff;
    width: 600px !important;
    padding: 20px;
    background-color: #9b190e;
    opacity: 0.72;
    margin-top: 100px;
    margin-left: 2%;
}

.news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 95%;
    padding-bottom: 30px;
}

.news .media {
    border-radius: 10px;
    width: calc(1 / 2 * 100% - (1 - 1 / 2) * 40px);
    position: relative;
    padding: 20px;
    border: 1px solid #e9e9e9;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: Roboto, sans-serif;
}

.news .media .media-body {
    padding: 0 20px;
}

.news .media .media-body h4.media-heading {
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    z-index: 1;
    color: rgba(0, 0, 0, 0.87);
    line-height: 18px;
    font-weight: bold;
}

/*course details*/
.collapsible-body a {
    text-decoration: none;
    color: #fff;
    padding: 0 0.5rem;
}

.bar, .bar div {
    background-color: #9b190e!important;
}
